# Analysis 4
- group by employers
- highest H1B who submitted
- finding the most important role(SOC_NAME) of the top company which applied for H1B
- the location of the company which employs the most important role
- the average wage of every job title under the role in that location

In [1]:
import pandas as pd
import numpy as np
import os
import datetime

/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:53: UserWarning: [Errno 2] No such file or directory: 'arch'
  stacklevel=stacklevel + 1)
/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:53: UserWarning: [Errno 2] No such file or directory: 'machine'
  stacklevel=stacklevel + 1)
/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:76: UserWarning: [Errno 2] No such file or directory: 'sysctl'
  stacklevel=stacklevel + 1):

In [2]:
df = pd.read_csv('data/H1B_petition_dataset.csv', encoding = "ISO-8859-1")

In [5]:
df.groupby('EMPLOYER_NAME')[['CASE_STATUS']].count().sort_values(by=['CASE_STATUS'],ascending=False).head(15)

                                                 CASE_STATUS
EMPLOYER_NAME
INFOSYS LIMITED                                        25352
CAPGEMINI AMERICA INC                                  16725
TATA CONSULTANCY SERVICES LIMITED                      13134
WIPRO LIMITED                                          10607
IBM INDIA PRIVATE LIMITED                               9787
ACCENTURE LLP                                           9477
DELOITTE CONSULTING LLP                                 7646
TECH MAHINDRA (AMERICAS),INC.                           6746
COGNIZANT TECHNOLOGY SOLUTIONS U.S. CORPORATION         5370
MICROSOFT CORPORATION                                   5029
HCL AMERICA, INC.                                       4931
GOOGLE INC.                                             4785
ERNST & YOUNG U.S. LLP                                  4511
IBM CORPORATION                                         2571
AMAZON CORPORATE LLC                                    2547

In [9]:
data=df[df.EMPLOYER_NAME=='INFOSYS LIMITED']

In [10]:
data.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,STATE,lon,lat
28084,WITHDRAWN,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL - BUSINESS CONSULTING,Y,102752.0,2016,IRVINE,CALIFORNIA,-117.794694,33.683947
28087,CERTIFIED,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,Y,99050.0,2016,GREENSBORO,NORTHCAROLINA,-79.791975,36.072635
28089,CERTIFIED,INFOSYS LIMITED,MANAGEMENT ANALYSTS,ASSOCIATE - BUSINESS CONSULTING,Y,71074.0,2016,IRVINE,CALIFORNIA,-117.794694,33.683947
28105,CERTIFIED,INFOSYS LIMITED,MANAGEMENT ANALYSTS,PRINCIPAL CONSULTANT - US,Y,110136.0,2016,RICHARDSON,TEXAS,-96.729852,32.948334
28114,CERTIFIED,INFOSYS LIMITED,MANAGEMENT ANALYSTS,SENIOR ASSOCIATE - BUSINESS CONSULTING,Y,101962.0,2016,CHICAGO,ILLINOIS,-87.629798,41.878114

In [25]:
data.groupby('SOC_NAME')[['CASE_STATUS']].count().sort_values(by=['CASE_STATUS'],ascending=False).head()

                                                  CASE_STATUS
SOC_NAME
COMPUTER SYSTEMS ANALYST                                15637
SOFTWARE QUALITY ASSURANCE ENGINEERS AND TESTERS         2631
COMPUTER PROGRAMMER                                      2073
COMPUTER SYSTEMS ANALYSTS                                1523
COMPUTER SYSTEMS ENGINEERS/ARCHITECTS                    1380

In [15]:
new_data=data[data.SOC_NAME.str.contains('COMPUTER SYSTEMS ANALYST')]

In [17]:
new_data.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,STATE,lon,lat
84660,CERTIFIED,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY LEAD - US,Y,74443.0,2016,HILLSBORO,OREGON,-122.989827,45.522894
84664,CERTIFIED,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY ANALYST - US,N,62462.0,2016,EAST HANOVER,NEWJERSEY,-74.364725,40.820062
84667,CERTIFIED,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY ANALYST - US,N,46301.0,2016,CRANSTON,RHODEISLAND,-71.437280,41.779823
84673,CERTIFIED,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,PROJECT MANAGER - US,Y,100755.0,2016,NEW YORK,NEWYORK,-74.005941,40.712784
84677,CERTIFIED,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY LEAD - US,N,57824.0,2016,FORT WAYNE,INDIANA,-85.139351,41.079273

In [18]:
new_data.shape

(17160, 11)

In [24]:
new_data.groupby(['STATE','WORKSITE'])[['CASE_STATUS']].count().sort_values(by=['CASE_STATUS'],ascending=False).head()

                         CASE_STATUS
STATE         WORKSITE
CALIFORNIA    SUNNYVALE          878
ARIZONA       PHOENIX            834
NORTHCAROLINA CHARLOTTE          828
GEORGIA       ATLANTA            516
TEXAS         HOUSTON            468

In [26]:
output=new_data[new_data.STATE=='CALIFORNIA'][new_data.WORKSITE=='SUNNYVALE']

/Users/kvs25/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

In [28]:
output.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,STATE,lon,lat
84678,CERTIFIED,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY LEAD - US,Y,89149.0,2016,SUNNYVALE,CALIFORNIA,-122.03635,37.36883
84702,CERTIFIED,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY LEAD - US,Y,89149.0,2016,SUNNYVALE,CALIFORNIA,-122.03635,37.36883
84750,CERTIFIED,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,LEAD CONSULTANT - US,Y,108493.0,2016,SUNNYVALE,CALIFORNIA,-122.03635,37.36883
84873,CERTIFIED,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY ANALYST - US,N,69805.0,2016,SUNNYVALE,CALIFORNIA,-122.03635,37.36883
84886,CERTIFIED,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYSTS,TECHNOLOGY LEAD - US,Y,89149.0,2016,SUNNYVALE,CALIFORNIA,-122.03635,37.36883

In [33]:
output.groupby(['JOB_TITLE'])[['PREVAILING_WAGE']].mean().sort_values(by=['PREVAILING_WAGE'],ascending=False)

                                          PREVAILING_WAGE
JOB_TITLE
LEAD CONSULTANT - US - PRACTITIONER         114795.000000
LEAD CONSULTANT - US - PROFESSIONAL         114795.000000
PROJECT MANAGER - US - PRACTITIONER         114795.000000
PROJECT MANAGER - US                        108886.875000
LEAD CONSULTANT - US                        108509.102041
TECHNOLOGY LEAD - US - PROFESSIONAL          94619.000000
CONSULTANT - US - PRACTITIONER               94619.000000
CONSULTANT - US - PROFESSIONAL               94619.000000
TECHNOLOGY LEAD - US - PRACTITIONER          94619.000000
CONSULTANT - US                              89678.354839
PRODUCTION SUPPORT LEAD - US                 89452.888889
TECHNOLOGY LEAD - US                         89442.035714
PRODUCT TECHNICAL LEAD - US                  89149.000000
ASSOCIATE CONSULTANT - US - PRACTITIONER     74443.000000
TECHNOLOGY ANALYST - US - PRACTITIONER       74443.000000
PRODUCTION SUPPORT ANALYST - US              70161.769231
ASSOCIATE CONSULTANT - US                    69895.941176
TECHNOLOGY ANALYST - US                      69851.691275

In [34]:
#draw graph of either the employer_name with count of their h1b petitions or mean salaries of several roles under Infosys