In [1]:
import pandas as pd

/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:53: UserWarning: [Errno 2] No such file or directory: 'machine'
  stacklevel=stacklevel + 1)
/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:53: UserWarning: [Errno 2] No such file or directory: 'arch'
  stacklevel=stacklevel + 1)
/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:76: UserWarning: [Errno 2] No such file or directory: 'sysctl'
  stacklevel=stacklevel + 1):

In [2]:
import os
import datetime
import numpy as np

In [3]:
import calendar

'/Users/kvs25/Desktop/Data_Analysis_python/s_rohil_spring17/Assignment-3'

True

In [5]:
df = pd.read_csv('vehicle_collisions.csv',parse_dates=['DATE'],infer_datetime_format=True)

In [6]:
df.columns = [c.replace(' ', '_') for c in df.columns]
df.head(3)

,UNIQUE_KEY,DATE,TIME,BOROUGH,ZIP_CODE,LATITUDE,LONGITUDE,LOCATION,ON_STREET_NAME,CROSS_STREET_NAME,...,VEHICLE_1_TYPE,VEHICLE_2_TYPE,VEHICLE_3_TYPE,VEHICLE_4_TYPE,VEHICLE_5_TYPE,VEHICLE_1_FACTOR,VEHICLE_2_FACTOR,VEHICLE_3_FACTOR,VEHICLE_4_FACTOR,VEHICLE_5_FACTOR
0,3146911,2015-01-01,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN
1,3146180,2015-01-01,0:20,NaN,NaN,40.771289,-73.946693,"(40.7712888, -73.9466928)",NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,ANIMALS ACTION,NaN,NaN,NaN,NaN
2,3146384,2015-01-01,0:21,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN

In [7]:
#converting DATE column to datetime datatype and taking entries of only the year 2016
df['DATE'] = pd.to_datetime(df['DATE'], format='%d/%m/%Y',errors='ignore')
df = df[(df.DATE.dt.year==2016)]

In [8]:
#taking only entries of Manhattan and the year 2016
data = df[(df.BOROUGH=='MANHATTAN') & (df.DATE.dt.year==2016)]

In [9]:
data.head()

,UNIQUE_KEY,DATE,TIME,BOROUGH,ZIP_CODE,LATITUDE,LONGITUDE,LOCATION,ON_STREET_NAME,CROSS_STREET_NAME,...,VEHICLE_1_TYPE,VEHICLE_2_TYPE,VEHICLE_3_TYPE,VEHICLE_4_TYPE,VEHICLE_5_TYPE,VEHICLE_1_FACTOR,VEHICLE_2_FACTOR,VEHICLE_3_FACTOR,VEHICLE_4_FACTOR,VEHICLE_5_FACTOR
217539,3374565,2016-01-01,0:01,MANHATTAN,10022.0,40.760223,-73.967462,"(40.7602226, -73.967462)",EAST 57 STREET,3 AVENUE,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,OTHER VEHICULAR,OTHER VEHICULAR,NaN,NaN,NaN
217541,3363408,2016-01-01,0:01,MANHATTAN,10035.0,40.805057,-73.939034,"(40.8050573, -73.9390342)",EAST 125 STREET,PARK AVENUE,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,UNSPECIFIED,NaN,NaN,NaN,NaN
217542,3364610,2016-01-01,0:05,MANHATTAN,10035.0,40.799258,-73.939050,"(40.7992577, -73.9390504)",3 AVENUE,EAST 118 STREET,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
217543,3363371,2016-01-01,0:15,MANHATTAN,10011.0,40.738552,-73.999682,"(40.738552, -73.9996824)",7 AVENUE,WEST 14 STREET,...,SPORT UTILITY/STATION WAGON,OTHER,NaN,NaN,NaN,LOST CONSCIOUSNESS,UNSPECIFIED,NaN,NaN,NaN
217549,3370573,2016-01-01,0:51,MANHATTAN,10040.0,40.863572,-73.926012,"(40.8635725, -73.9260124)",SHERMAN AVENUE,DYCKMAN STREET,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,OTHER VEHICULAR,LOST CONSCIOUSNESS,NaN,NaN,NaN

In [15]:
man_data=data.groupby([data.DATE.dt.month])['UNIQUE_KEY'].count()

In [16]:
nyc_data=df.groupby([df.DATE.dt.month])['UNIQUE_KEY'].count()

In [17]:
percentage=man_data/nyc_data

In [20]:
#taking the month_name to be used in the dataframe
month_dict={n: {} for n in range(1,13)}
for i in range(1,13):
    month_dict[i]=calendar.month_name[i]

In [21]:
#taking list of columns for preparing the dataframe
data=[month_dict,man_data,nyc_data,percentage]

In [22]:
dataframe = pd.DataFrame.from_records(data,index=['Month','Manhattan','NYC','Percentage']).transpose()

In [23]:
dataframe.to_csv(path_or_buf=os.path.join(os.getcwd(),'Q1P1.csv'))