In [2]:
import pandas as pd
import os
import datetime
import numpy as np
import calendar

/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:53: UserWarning: [Errno 2] No such file or directory: 'arch'
  stacklevel=stacklevel + 1)
/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:53: UserWarning: [Errno 2] No such file or directory: 'machine'
  stacklevel=stacklevel + 1)
/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:76: UserWarning: [Errno 2] No such file or directory: 'sysctl'
  stacklevel=stacklevel + 1):

In [3]:
df = pd.read_csv('vehicle_collisions.csv',parse_dates=['DATE'],infer_datetime_format=True)

In [4]:
#df=df.replace(np.nan, '', regex=True)
df.columns = [c.replace(' ', '_') for c in df.columns]

In [5]:
df.head()

,UNIQUE_KEY,DATE,TIME,BOROUGH,ZIP_CODE,LATITUDE,LONGITUDE,LOCATION,ON_STREET_NAME,CROSS_STREET_NAME,...,VEHICLE_1_TYPE,VEHICLE_2_TYPE,VEHICLE_3_TYPE,VEHICLE_4_TYPE,VEHICLE_5_TYPE,VEHICLE_1_FACTOR,VEHICLE_2_FACTOR,VEHICLE_3_FACTOR,VEHICLE_4_FACTOR,VEHICLE_5_FACTOR
0,3146911,2015-01-01,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN
1,3146180,2015-01-01,0:20,NaN,NaN,40.771289,-73.946693,"(40.7712888, -73.9466928)",NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,ANIMALS ACTION,NaN,NaN,NaN,NaN
2,3146384,2015-01-01,0:21,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN
3,3146013,2015-01-01,0:30,BROOKLYN,11213.0,40.673845,-73.925080,"(40.6738445, -73.9250801)",BUFFALO AVENUE,SAINT MARKS AVENUE,...,BUS,PASSENGER VEHICLE,NaN,NaN,NaN,LOST CONSCIOUSNESS,NaN,NaN,NaN,NaN
4,3146120,2015-01-01,0:33,NaN,NaN,NaN,NaN,NaN,RICHMOND TERRACE,SOUTH AVENUE,...,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN

In [6]:
#df.BOROUGH.notnull()

In [7]:
df[df.BOROUGH=='MANHATTAN'].notnull().sum()

UNIQUE_KEY             83602
DATE                   83602
TIME                   83602
BOROUGH                83602
ZIP_CODE               83600
LATITUDE               77163
LONGITUDE              77163
LOCATION               77163
ON_STREET_NAME         73613
CROSS_STREET_NAME      73614
OFF_STREET_NAME         9975
PERSONS_INJURED        83602
PERSONS_KILLED         83602
PEDESTRIANS_INJURED    83602
PEDESTRIANS_KILLED     83602
CYCLISTS_INJURED       83602
CYCLISTS_KILLED        83602
MOTORISTS_INJURED      83602
MOTORISTS_KILLED       83602
VEHICLE_1_TYPE         82801
VEHICLE_2_TYPE         69483
VEHICLE_3_TYPE          2525
VEHICLE_4_TYPE           501
VEHICLE_5_TYPE           129
VEHICLE_1_FACTOR       82737
VEHICLE_2_FACTOR       71940
VEHICLE_3_FACTOR        2661
VEHICLE_4_FACTOR         544
VEHICLE_5_FACTOR         145
dtype: int64

In [9]:
#testing for getting only the output where Borough = Queens
manhattan_data=df[df.BOROUGH=='QUEENS']

In [11]:
manhattan_data.head()

,UNIQUE_KEY,DATE,TIME,BOROUGH,ZIP_CODE,LATITUDE,LONGITUDE,LOCATION,ON_STREET_NAME,CROSS_STREET_NAME,...,VEHICLE_1_TYPE,VEHICLE_2_TYPE,VEHICLE_3_TYPE,VEHICLE_4_TYPE,VEHICLE_5_TYPE,VEHICLE_1_FACTOR,VEHICLE_2_FACTOR,VEHICLE_3_FACTOR,VEHICLE_4_FACTOR,VEHICLE_5_FACTOR
0,3146911,2015-01-01,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN
6,3146102,2015-01-01,10:00,QUEENS,11105.0,40.776519,-73.915920,"(40.7765195, -73.91592)",26 STREET,23 AVENUE,...,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,NaN,NaN,ALCOHOL INVOLVEMENT,UNSPECIFIED,UNSPECIFIED,NaN,NaN
13,3146083,2015-01-01,10:30,QUEENS,11354.0,40.769353,-73.832577,"(40.7693526, -73.8325765)",LINDEN PLACE,31 ROAD,...,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
14,3146907,2015-01-01,10:36,QUEENS,11368.0,40.740039,-73.852880,"(40.740039, -73.8528801)",WESTSIDE AVENUE,VANDOREN STREET,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN
18,3146046,2015-01-01,11:20,QUEENS,11419.0,40.689710,-73.826856,"(40.6897104, -73.8268556)",101 AVENUE,118 STREET,...,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN

In [12]:
type(manhattan_data.VEHICLE_1_TYPE.dropna())

pandas.core.series.Series

In [18]:
data1=pd.DataFrame(columns=['Origin','One Vehicle Involved','Two Vehicle Involved','Three Vehicle Involved','More Vehicle Involved'])

In [19]:
#excluding the data which has no Borough, counting all the accidents involving different count of vehicles
for origin in df.BOROUGH.unique():
    #print(origin)
    if not pd.isnull(origin):
        #print(origin)
        manhattan_data=df[df.BOROUGH==origin]
        two_vehicles=str(manhattan_data[(manhattan_data.VEHICLE_1_TYPE.notnull()) & (manhattan_data.VEHICLE_2_TYPE.notnull())&(manhattan_data.VEHICLE_3_TYPE.isnull())&(manhattan_data.VEHICLE_4_TYPE.isnull())&(manhattan_data.VEHICLE_5_TYPE.isnull())].shape[0])
        one_vehicle= str(manhattan_data[(manhattan_data.VEHICLE_1_TYPE.notnull()) & (manhattan_data.VEHICLE_2_TYPE.isnull())&(manhattan_data.VEHICLE_3_TYPE.isnull())&(manhattan_data.VEHICLE_4_TYPE.isnull())&(manhattan_data.VEHICLE_5_TYPE.isnull())].shape[0])
        three_vehicle=str(manhattan_data[(manhattan_data.VEHICLE_1_TYPE.notnull()) & (manhattan_data.VEHICLE_2_TYPE.notnull())&(manhattan_data.VEHICLE_3_TYPE.notnull())&(manhattan_data.VEHICLE_4_TYPE.isnull())&(manhattan_data.VEHICLE_5_TYPE.isnull())].shape[0])
        more_vehicles=str(manhattan_data[(manhattan_data.VEHICLE_1_TYPE.notnull()) & (manhattan_data.VEHICLE_2_TYPE.notnull())&(manhattan_data.VEHICLE_3_TYPE.notnull())&(manhattan_data.VEHICLE_4_TYPE.notnull())&(manhattan_data.VEHICLE_5_TYPE.isnull())].shape[0]+manhattan_data[(manhattan_data.VEHICLE_1_TYPE.notnull()) & (manhattan_data.VEHICLE_2_TYPE.notnull())&(manhattan_data.VEHICLE_3_TYPE.notnull())&(manhattan_data.VEHICLE_4_TYPE.notnull())&(manhattan_data.VEHICLE_5_TYPE.notnull())].shape[0])
        #dataFrame = pd.DataFrame(data=[origin,one_vehicle,two_vehicles,three_vehicle,more_vehicles])
        #data1.append(dataFrame,ignore_index=True)
        #print(one_vehicle)
        data1 = data1.append(pd.Series([origin,one_vehicle,two_vehicles,three_vehicle,more_vehicles],index=['Origin','One Vehicle Involved','Two Vehicle Involved','Three Vehicle Involved','More Vehicle Involved']),ignore_index=True)
        #columns={'Origin': origin,'One Vehicle Involved':one_vehicle,'Two Vehicle Involved':two_vehicles,'Three Vehicles Involved':three_vehicle,'More Vehicle Involved':more_vehicles}

12962
17375
13318
8627
2343

In [20]:
data1.head()

,Origin,One Vehicle Involved,Two Vehicle Involved,Three Vehicle Involved,More Vehicle Involved
0,QUEENS,12962,70260,4498,1420
1,BROOKLYN,17375,80207,4980,1612
2,MANHATTAN,13318,66958,2024,501
3,BRONX,8627,34385,1962,625
4,STATEN ISLAND,2343,10676,759,165

In [21]:
data1.to_csv(path_or_buf=os.path.join(os.getcwd(),'Q1P2.csv'))