In [2]:
import pandas as pd
import os
import datetime
import numpy as np

/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:53: UserWarning: [Errno 2] No such file or directory: 'machine'
  stacklevel=stacklevel + 1)
/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:53: UserWarning: [Errno 2] No such file or directory: 'arch'
  stacklevel=stacklevel + 1)
/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:76: UserWarning: [Errno 2] No such file or directory: 'sysctl'
  stacklevel=stacklevel + 1):

In [3]:
df = pd.read_csv('employee_compensation.csv')

In [4]:
df.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [5]:
df.columns = [c.replace(' ', '_') for c in df.columns]

In [6]:
data = df.groupby(['Organization_Group','Department'], as_index=False)['Total_Compensation'].mean()

In [7]:
data.head(10)

,Organization_Group,Department,Total_Compensation
0,Community Health,Public Health,96190.190140
1,Culture & Recreation,Academy of Sciences,107319.727692
2,Culture & Recreation,Arts Commission,94339.597388
3,Culture & Recreation,Asian Art Museum,71401.520060
4,Culture & Recreation,Fine Arts Museum,44205.439895
5,Culture & Recreation,Law Library,188424.362222
6,Culture & Recreation,Public Library,70446.352147
7,Culture & Recreation,Recreation and Park Commission,38912.859465
8,Culture & Recreation,War Memorial,76250.068022
9,General Administration & Finance,Assessor/Recorder,89994.260614

In [8]:
new_data=data.sort_values(by=['Organization_Group','Total_Compensation'],ascending=[True,False])
#new_data.head(10)

In [9]:
new_data.head(10)

,Organization_Group,Department,Total_Compensation
0,Community Health,Public Health,96190.190140
5,Culture & Recreation,Law Library,188424.362222
1,Culture & Recreation,Academy of Sciences,107319.727692
2,Culture & Recreation,Arts Commission,94339.597388
8,Culture & Recreation,War Memorial,76250.068022
3,Culture & Recreation,Asian Art Museum,71401.520060
6,Culture & Recreation,Public Library,70446.352147
4,Culture & Recreation,Fine Arts Museum,44205.439895
7,Culture & Recreation,Recreation and Park Commission,38912.859465
11,General Administration & Finance,City Attorney,166082.677561

In [10]:
#test=df.groupby(['Organization_Group','Department']).agg({'Total_Compensation':np.mean})

In [11]:
new_data.to_csv(path_or_buf=os.path.join(os.getcwd(),'Q2P1.csv'))

In [13]:
# printing the top Department of each Organization Group with the highest compensation
best_dept=new_data.sort_values('Total_Compensation', ascending=False).groupby('Organization_Group', as_index=False).first()

In [14]:
best_dept.head(7)

,Organization_Group,Department,Total_Compensation
0,Community Health,Public Health,96190.190140
1,Culture & Recreation,Law Library,188424.362222
2,General Administration & Finance,City Attorney,166082.677561
3,General City Responsibilities,General Fund Unallocated,15824.151304
4,Human Welfare & Neighborhood Development,Rent Arbitration Board,102181.793941
5,Public Protection,Fire Department,180788.086979
6,"Public Works, Transportation & Commerce",Port,112139.680017