In [518]:
import pandas as pd
import os
import datetime
import numpy as np
import re

In [519]:
df = pd.read_csv('movies_awards.csv')

In [520]:
df.head()

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Released,Actors,Year,Genre,Awards,Runtime,Type,Poster,imdbVotes,imdbID
0,none,NaN,NaN,True,English,Book of Love: The Definitive Reason Why Men Ar...,USA,Jeffrey W. Byrd; Eric George,NaN,6.6,...,14 Feb 2002,40 Glocc; Angelle Brooks; David Brown; Qadr Ca...,2002,Romance; Comedy,NaN,91 min,movie,NaN,79.0,tt0156376
1,none,NaN,NaN,True,Swedish,Anderssons älskarinna,Sweden,NaN,NaN,7.4,...,12 Feb 2001,Jakob Eklund; Ebba Forsberg; Örjan Landström; ...,2001,Drama,NaN,347 min,movie,NaN,34.0,tt0201374
2,none,NaN,NaN,True,English,Bad Blood,UK,Tony Marchant,NaN,5.6,...,11 Jan 2001,Emilia Fox; Serban Celea; Alex Jennings; Steve...,2001,NaN,NaN,NaN,movie,NaN,8.0,tt0207989
3,none,A historical classic drama in three acts; reto...,NaN,True,Portuguese,Who Are You?,Portugal,João Botelho; Almeida Garrett (play),NaN,6.1,...,23 Nov 2001,Patrícia Guerreiro; Suzana Borges; Rui Morisso...,2001,Drama; History,1 win & 2 nominations.,112 min,movie,http://ia.media-imdb.com/images/M/MV5BMTM1Mjdi...,189.0,tt0210930
4,none,A father (Williams) suspects his son (Jackson)...,R,True,English,Skeletons in the Closet,USA,Donna Powers; Wayne Powers,NaN,5.4,...,24 Jul 2001,Treat Williams; Linda Hamilton; Jonathan Jacks...,2001,Crime; Drama; Mystery,1 win.,100 min,movie,http://ia.media-imdb.com/images/M/MV5BMjA0NjA2...,603.0,tt0212513

In [521]:
df.columns = [c.replace(' ', '_') for c in df.columns]

In [522]:
data=pd.DataFrame(df,columns=['Awards'])

In [523]:
data.head()

                   Awards
0                     NaN
1                     NaN
2                     NaN
3  1 win & 2 nominations.
4                  1 win.

In [524]:
list=[]
for award in df.Awards.unique():
    if not pd.isnull(award):
        list.append(award)
# Creating a new dataframe with only the Awards column
data1=pd.DataFrame(list,columns=['Awards'])

In [525]:
data1['Awards'] = data1['Awards'].str.lower()

In [526]:
data1.head()

                    Awards
0   1 win & 2 nominations.
1                   1 win.
2            1 nomination.
3  3 wins & 2 nominations.
4    1 win & 1 nomination.

In [527]:
#split the column into 2 using '.' as delimiter
temp = pd.DataFrame(data1.Awards.str.split('.').tolist())

In [528]:
temp.head(15)
temp.fillna(value=0, inplace=True)
temp.head()

                        0 1  2
0   1 win & 2 nominations    0
1                   1 win    0
2            1 nomination    0
3  3 wins & 2 nominations    0
4    1 win & 1 nomination    0

In [529]:
#taking the first column from temp and splitting on &
temp0 = pd.DataFrame(temp[0].str.split('&').tolist())

In [530]:
temp0.head()

              0               1
0        1 win    2 nominations
1         1 win            None
2  1 nomination            None
3       3 wins    2 nominations
4        1 win     1 nomination

In [531]:

# using the 0th column of the dataframe temp0 after split on . and & for preparing the output
# making dataframe of specific keywords used for further processing
bafta=pd.DataFrame(temp0[0][temp0[0].str.contains(('bafta'), regex=True)])
globes=pd.DataFrame(temp0[0][temp0[0].str.contains(('golden'), regex=True)])
oscar=pd.DataFrame(temp0[0][temp0[0].str.contains(('oscar'), regex=True)])
wins=pd.DataFrame(temp0[0][temp0[0].str.contains(('win|wins|won'), regex=True)])
nominates=pd.DataFrame(temp0[0][temp0[0].str.contains(('nomin'), regex=True)])
emmy=pd.DataFrame(temp0[0][temp0[0].str.contains(('emmy'), regex=True)])
only_wins=(pd.DataFrame(temp0[0][~temp0[0].str.contains('emmy|oscar|bafta|golden|nomin')]))
only_nominations=(pd.DataFrame(temp0[0][~temp0[0].str.contains('emmy|oscar|bafta|golden|win|wins|won')]))
#data1['win']=temp0[0].str.extract('(\d)', expand=True)

In [532]:
nominates.head(10)

                                    0
2                        1 nomination
5                       5 nominations
7               nominated for 1 oscar
9        nominated for 1 golden globe
13                      2 nominations
17    nominated for 4 primetime emmys
24  nominated for 3 bafta film awards
25                      6 nominations
29       nominated for 1 golden globe
30     nominated for 1 primetime emmy

In [533]:
#nominates.merge(bafta, how='inner', left_index=True, right_index=True)

In [534]:
#joining nomination/wins with the respective awards and then extracting the number from the column
data1['Nominated_BAFTA']= nominates.join(bafta, how='inner',lsuffix='test')['0'].str.extract('(\d{1,3})', expand=True)

In [535]:
data1['Winner_BAFTA']=wins.join(bafta, how='inner',lsuffix='test')['0'].str.extract('(\d{1,3})', expand=True)

In [536]:
data1['Winner_OSCAR']=wins.join(oscar, how='inner',lsuffix='test')['0'].str.extract('(\d{1,3})', expand=True)

In [537]:
data1['Nominated_OSCAR']=nominates.join(oscar, how='inner',lsuffix='test')['0'].str.extract('(\d{1,3})', expand=True)

In [538]:
data1['Winner_Emmy']=wins.join(emmy, how='inner',lsuffix='test')['0'].str.extract('(\d{1,3})', expand=True)

In [539]:
data1['Nominated_Emmy']=nominates.join(emmy, how='inner',lsuffix='test')['0'].str.extract('(\d{1,3})', expand=True)

In [540]:
data1['Winner_Globes']=wins.join(globes, how='inner',lsuffix='test')['0'].str.extract('(\d{1,3})', expand=True)

In [541]:
data1['Nominated_Globes']=nominates.join(globes, how='inner',lsuffix='test')['0'].str.extract('(\d{1,3})', expand=True)

In [542]:
data1['Awards_Won']=only_wins[0].str.extract('(\d{1,3})', expand=True)

In [543]:
data1.head()

,Awards,Nominated_BAFTA,Winner_BAFTA,Winner_OSCAR,Nominated_OSCAR,Winner_Emmy,Nominated_Emmy,Winner_Globes,Nominated_Globes,Awards_Won
0,1 win & 2 nominations.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1 win.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1 nomination.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3 wins & 2 nominations.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,1 win & 1 nomination.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [544]:
#taking the second column from temp and splitting on &
temp1 = pd.DataFrame(temp[1].str.split('&').tolist())

In [545]:
#Part 2/6th of getting the output
data1['Nominations']=temp0[1].str.extract('(\d{1,3})', expand=True)

In [546]:
data1.Nominations.fillna(only_nominations[0].str.extract('(\d{1,3})', expand=True)[0], inplace=True)

In [547]:
data1.head()

,Awards,Nominated_BAFTA,Winner_BAFTA,Winner_OSCAR,Nominated_OSCAR,Winner_Emmy,Nominated_Emmy,Winner_Globes,Nominated_Globes,Awards_Won,Nominations
0,1 win & 2 nominations.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2
1,1 win.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,1 nomination.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,3 wins & 2 nominations.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2
4,1 win & 1 nomination.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [548]:
temp1.head(15)
temp1.fillna(value='', inplace=True)

In [549]:
#part3 and 4 of getting the output. Working with sub-columns of column '1' of df temp after splitting on '&'

only_wins1=(pd.DataFrame(temp1[0][~temp1[0].str.contains('emmy|oscar|bafta|golden|nomin')]))
only_nominations1=(pd.DataFrame(temp1[0][~temp1[0].str.contains('emmy|oscar|bafta|golden|win|wins|won')]))
only_nominations11=(pd.DataFrame(temp1[1][~temp1[1].str.contains('win|wins|won')]))
#data1['Nominations']=temp0[1].str.extract('(\d)', expand=True)
data1.Nominations.fillna(only_nominations1[0].str.extract('(\d{1,3})', expand=True)[0], inplace=True)
data1.Nominations.fillna(only_nominations11[1].str.extract('(\d{1,3})', expand=True)[0], inplace=True)
data1.Awards_Won.fillna(only_wins1[0].str.extract('(\d{1,3})', expand=True)[0], inplace=True)

In [550]:
data1.head()

,Awards,Nominated_BAFTA,Winner_BAFTA,Winner_OSCAR,Nominated_OSCAR,Winner_Emmy,Nominated_Emmy,Winner_Globes,Nominated_Globes,Awards_Won,Nominations
0,1 win & 2 nominations.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2
1,1 win.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,1 nomination.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,3 wins & 2 nominations.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2
4,1 win & 1 nomination.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [551]:
data1=data1.fillna(0)

In [552]:
data1.to_csv(path_or_buf=os.path.join(os.getcwd(),'Q4.csv'))