# Analysis 5:
- take only full time 
- take the top state 
- sort with 
- find mean values for the wages
- check if value less than mean of the same position. check if certified or certified/withdrawn. take the ratio. if high then one of the likely reasons why it could have got certified

In [1]:
import pandas as pd
import numpy as np
import os
import datetime

/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:53: UserWarning: [Errno 2] No such file or directory: 'machine'
  stacklevel=stacklevel + 1)
/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:53: UserWarning: [Errno 2] No such file or directory: 'arch'
  stacklevel=stacklevel + 1)
/Users/kvs25/anaconda3/lib/python3.5/site-packages/numexpr/cpuinfo.py:76: UserWarning: [Errno 2] No such file or directory: 'sysctl'
  stacklevel=stacklevel + 1):

In [2]:
df = pd.read_csv('data/H1B_petition_dataset.csv', encoding = "ISO-8859-1")

In [3]:
df.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,STATE,lon,lat
0,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016,ANN ARBOR,MICHIGAN,-83.743038,42.280826
1,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016,PLANO,TEXAS,-96.698886,33.019843
2,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016,JERSEY CITY,NEWJERSEY,-74.077642,40.728158
3,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016,DENVER,COLORADO,-104.990251,39.739236
4,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016,ST. LOUIS,MISSOURI,-90.199404,38.627003

In [4]:
data=df[df.FULL_TIME_POSITION=='Y']

In [5]:
data.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,STATE,lon,lat
1,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016,PLANO,TEXAS,-96.698886,33.019843
2,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016,JERSEY CITY,NEWJERSEY,-74.077642,40.728158
3,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016,DENVER,COLORADO,-104.990251,39.739236
4,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016,ST. LOUIS,MISSOURI,-90.199404,38.627003
5,CERTIFIED-WITHDRAWN,BURGER KING CORPORATION,CHIEF EXECUTIVES,"EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...",Y,225000.0,2016,MIAMI,FLORIDA,-80.191790,25.761680

In [7]:
data.groupby('STATE')[['CASE_STATUS']].count().sort_values(by=['CASE_STATUS'],ascending=False).head()

            CASE_STATUS
STATE
CALIFORNIA        81586
NEWYORK           28263
TEXAS             25390
NEWJERSEY         19245
WASHINGTON        16002

In [9]:
new_data=data[data.STATE=='CALIFORNIA']

In [27]:
new_data= new_data.reset_index(drop=True)
new_data.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,STATE,lon,lat
0,CERTIFIED-WITHDRAWN,"GLOBO MOBILE TECHNOLOGIES, INC.",CHIEF EXECUTIVES,CHIEF OPERATIONS OFFICER,Y,150000.0,2016,SAN JOSE,CALIFORNIA,-121.886329,37.338208
1,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,164050.0,2016,LOS ANGELES,CALIFORNIA,-118.243685,34.052234
2,CERTIFIED,QUICKLOGIX LLC,CHIEF EXECUTIVES,CEO,Y,187200.0,2016,SANTA CLARA,CALIFORNIA,-121.955236,37.354108
3,CERTIFIED-WITHDRAWN,"CUDDLE BARN, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER (COO),Y,117998.0,2016,COMMERCE,CALIFORNIA,-118.159793,34.000569
4,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,164050.0,2016,LOS ANGELES,CALIFORNIA,-118.243685,34.052234

In [28]:
output=new_data.groupby(['WORKSITE','SOC_NAME'],as_index=False)[['PREVAILING_WAGE']].mean()

In [29]:
output

,WORKSITE,SOC_NAME,PREVAILING_WAGE
0,#29G,"SOFTWARE DEVELOPERS, APPLICATIONS",138362.000000
1,&NBSP;PLEASANTON,"SOFTWARE DEVELOPERS, APPLICATIONS",100360.000000
2,210A NEWARK,"SOFTWARE DEVELOPERS, APPLICATIONS",79498.000000
3,7707 AUSTIN RD.,PSYCHIATRISTS,237864.000000
4,ADDISON,"COMPUTER OCCUPATIONS, ALL OTHER",97698.000000
5,ADDISON,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,86195.000000
6,AGOURA HIL,"SOFTWARE DEVELOPERS, APPLICATIONS",78400.000000
7,AGOURA HILLS,AEROSPACE ENGINEERS,81515.000000
8,AGOURA HILLS,CHIEF EXECUTIVES,215176.000000
9,AGOURA HILLS,"COMPUTER OCCUPATIONS, ALL OTHER",83171.200000
10,AGOURA HILLS,COMPUTER PROGRAMMERS,73623.769231
11,AGOURA HILLS,COMPUTER SYSTEMS ANALYST,78576.210526
12,AGOURA HILLS,COMPUTER SYSTEMS ANALYSTS,87854.400000
13,AGOURA HILLS,COMPUTER SYSTEMS ENGINEERS/ARCHITECTS,85634.000000
14,AGOURA HILLS,DATABASE ADMINISTRATORS,74734.000000
15,AGOURA HILLS,ELECTRICAL ENGINEERS,88566.571429
16,AGOURA HILLS,FINANCIAL ANALYSTS,87349.500000
17,AGOURA HILLS,INDUSTRIAL PRODUCTION MANAGERS,128190.000000
18,AGOURA HILLS,MARKET RESEARCH ANALYSTS AND MARKETING SPECIAL...,72634.000000
19,AGOURA HILLS,MECHANICAL ENGINEERS,116022.000000
20,AGOURA HILLS,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,100402.000000
21,AGOURA HILLS,SALES ENGINEERS,87381.000000
22,AGOURA HILLS,"SOFTWARE DEVELOPERS, APPLICATIONS",89593.909091
23,AGOURA HILLS,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",120702.000000
24,AGOURA HILLS,WEB DEVELOPERS,72342.000000
25,ALAMEDA,ADVERTISING AND PROMOTIONS MANAGERS,106517.000000
26,ALAMEDA,ARCHITECTURAL AND ENGINEERING MANAGERS,123510.000000
27,ALAMEDA,BIOMEDICAL ENGINEERS,76731.000000
28,ALAMEDA,COMMERCIAL AND INDUSTRIAL DESIGNERS,77584.000000
29,ALAMEDA,COMPUTER AND INFORMATION SYSTEMS MANAGERS,132974.000000
...,...,...,...
5394,WOODLAND HILLS,MARKETING MANAGERS,79248.000000
5395,WOODLAND HILLS,OPERATIONS RESEARCH ANALYSTS,87880.000000
5396,WOODLAND HILLS,PRODUCERS AND DIRECTORS,93850.000000
5397,WOODLAND HILLS,SALES ENGINEERS,128232.000000
5398,WOODLAND HILLS,"SOFTWARE DEVELOPERS, APPLICATIONS",90119.153488
5399,WOODLAND HILLS,"SOFTWARE DEVELOPERS, APPLICATIONS, NON R&D",87818.000000
5400,WOODLAND HILLS,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",101569.800000
5401,WOODLAND HILLS,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE, R&D",117146.000000
5402,WOODLAND HILLS,SOFTWARE QUALITY ASSURANCE ENGINEERS AND TESTERS,96866.000000
5403,WOODLAND HILLS,STATISTICIANS,83387.000000
5404,WOODLAND HILLS,WEB DEVELOPERS,70429.000000
5405,WOODLAND HILLS CA,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",115960.000000
5406,WOODLANDS,COMPUTER SYSTEMS ANALYSTS,76170.000000
5407,WOODSIDE,FINANCIAL ANALYSTS,158974.000000
5408,YORBA LINDA,CIVIL ENGINEERS,81619.000000
5409,YORBA LINDA,"COMPUTER OCCUPATIONS, ALL OTHER",77979.000000
5410,YORBA LINDA,COMPUTER PROGRAMMERS,102700.000000
5411,YORBA LINDA,INDUSTRIAL ENGINEERS,77168.000000
5412,YORBA LINDA,LAWYERS,79331.000000
5413,YORBA LINDA,MARKETING MANAGERS,121327.000000
5414,YORBA LINDA,"SOFTWARE DEVELOPERS, APPLICATIONS",96969.500000
5415,YORBA LINDA,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",98634.000000
5416,YREKA,PHARMACISTS,93308.800000
5417,YUBA CITY,"DENTISTS, GENERAL",90917.000000
5418,YUBA CITY,FAMILY AND GENERAL PRACTITIONERS,83824.000000
5419,YUBA CITY,MEDICAL AND HEALTH SERVICES MANAGERS,71593.600000
5420,YUBA CITY,PHARMACISTS,134742.400000
5421,YUBA CITY,"PHYSICIANS AND SURGEONS, ALL OTHER",221277.333333
5422,YUBA CITY,SPEECH-LANGUAGE PATHOLOGISTS,70512.000000
5423,YUCCA VALLEY,OBSTETRICIANS AND GYNECOLOGISTS,187200.000000